.main {
  height: calc(100vh - 4.5rem);
  width: 100%;
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "html preview" "css preview";
  .editor {
    z-index: -1;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    background-color: $primary-grey;
    border-top: $secondary-blue 0.2rem solid;
    h3 {
      background-color: $secondary-grey;
      padding: 0.2rem 0.6rem;
      margin: 0;
      border-bottom:$primary-grey 0.1rem solid;
    }
  }
  .preview {
    z-index: 1;
    border-left: $secondary-grey 0.2rem solid;
    grid-area: preview;
    display: block;
    position: relative;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
    svg {
      position: absolute;
      top: 1rem;
      right: 1rem;
      fill: $white;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        fill: $primary-blue;
      }
    }
  }
  .fullscreen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
    svg {
      position: absolute;
      top: 1rem;
      right: 1rem;
      fill: $white;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        fill: $primary-blue;
      }
    }
  }
}
div.describe {
  position: absolute;
  z-index: 0;
  font-size: 1.1rem;
  cursor: pointer;
  background-color: $secondary-grey;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  bottom: 1rem;
  right: calc(66vw + 1.5rem);
  transition: 0.3s ease;
  &:hover {
    background-color: $white;
    color: $secondary-grey
  }
}