.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  height: 4.5rem;
  box-sizing: border-box;
  border-bottom: 0.15rem solid $secondary-grey;
  .newDoc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    img {
      height: 3rem;
      width: auto;
    }
    input {
      font-size: 1.2rem;
      padding: 0.5rem 1rem;
      border-radius: 1.5rem;
      border: none;
      background-color: $secondary-grey;
      color: $white;
      font-weight: 600;
      transition: 0.3s ease;
      &:focus {
        background-color: $primary-grey;
      }
    }
  }
  img {
    margin-top: 0.4rem;
    height: 3.5rem;
    width: auto;
  }
  .button {
    box-shadow: $tertiary-grey 0 0 0.2rem;
    text-decoration: none;
    color: $white;
    font-size: 1.1rem;
    background-color: $primary-blue;
    padding: 0.5rem 1.4rem;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    img {
      height: 1.5rem;
      width: auto;
      margin: 0 0 0 0.9rem;
    }
    &:hover {
      background-color: $white;
      color: $primary-blue;
    }
  }
  div.menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      text-decoration: none;
      color: $white;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      border-radius: 50%;
      img {
        border-radius: 50%;
        height: 2.4rem;
        border: $secondary-grey 0.1rem solid;
        transition: 0.3s ease;
        margin: 0;
        cursor: pointer;
        &:hover {
          border: $primary-blue 0.1rem solid;
        }
      }
    }
    svg {
      margin-right: 0.5rem;
      fill: $white;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        fill: $primary-blue;
      }
    }
  }
  div.kevin, div.recording {
    cursor: pointer;
    background-color: $secondary-grey;
    box-shadow: $tertiary-grey 0 0 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: 0.3s ease;
    svg {
      fill: $white;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
    }
    &:hover {
      background-color: #D4D4D4;
      color: #3b3f42;
      svg {
        fill: #3b3f42;
      }
    }
  }
  div.recording {
    background-color: #D4D4D4;
    color: #3b3f42;
    &:hover svg, svg {
      fill: #d22f2f;
    }
  }
}