.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  height: 4.5rem;
  box-sizing: border-box;
  border-bottom: 0.15rem solid #3b3b3b;
  img {
    margin-top: 0.4rem;
    height: 3.5rem;
    width: auto;
  }
  .button {
    box-shadow: #818181 0 0 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #D4D4D4;
    font-size: 1.1rem;
    background-color: #337db6;
    padding: 0.5rem 1.4rem;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
    img {
      height: 1.5rem;
      width: auto;
      margin: 0 0 0 0.9rem;
    }
    &:hover {
      background-color: #D4D4D4;
      color: #337db6;
    }
  }
  div.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    span {
      color: #D4D4D4;
      font-size: 1.1rem;
    }
    svg {
      margin-right: 0.5rem;
      fill: #D4D4D4;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
      cursor: pointer;
      &:hover {
        fill: #337db6;
      }
    }
  }
  div.kevin, div.recording {
    cursor: pointer;
    background-color: #3b3f42;
    box-shadow: #818181 0 0 0.2rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    transition: 0.3s ease;
    svg {
      fill: #D4D4D4;
      height: 1.5rem;
      width: auto;
      transition: 0.3s ease;
    }
    &:hover {
      background-color: #D4D4D4;
      color: #3b3f42;
      svg {
        fill: #3b3f42;
      }
    }
  }
  div.recording {
    background-color: #D4D4D4;
    color: #3b3f42;
    &:hover svg, svg {
      fill: #d22f2f;
    }
  }
}