.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7rem;
  height: 4.5rem;
  box-sizing: border-box;
  border-bottom: 0.15rem solid #3b3b3b;
  img {
    margin-top: 0.4rem;
    height: 3.5rem;
    width: auto;
  }
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #D4D4D4;
  font-size: 1.3rem;
  background-color: #337db6;
  padding: 0.5rem 1.4rem;
  border-radius: 1.5rem;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  img {
    height: 1.5rem;
    width: auto;
    margin: 0 0 0 0.9rem;
  }
  &:hover {
    background-color: #D4D4D4;
    color: #337db6;
  }
}