.cursor {
  display: inline-block;
  width: 0.05rem;
  height: 1rem;
  background-color: $primary-blue;
  animation: blink 0.7s infinite;
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}